.sd-declarations{
    margin-top: 40px;
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    font-size: 15px;
    align-items: center;
}
.sd-declaration{
    display: flex;
    column-gap: 10px;
    border: var(--color1) solid 1px;
    width: 700px;
    border-radius: 5px;
    padding: 15px;
    cursor: pointer;
}
.sd-text{
    cursor: pointer;
}

.sd-check{
    cursor: pointer;
}

.sd-declaration input[type="checkbox"] {
  pointer-events: none;
}

@media (max-width:730px){
    .sd-declarations{
        margin-top: 30px;
        font-size: 14px;
    }
}