.answers{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    margin-bottom: 30px;
}

.answer{
    margin: auto;
    width: 700px;
    max-width: 80%;
    padding: 15px;
    border: var(--color2) solid 1px;
    border-radius: 5px;
    background-color: var(--color3);
}

.answer-box{
    margin-top: 7px;
    padding: 5px;
    border-radius: 7px;
}

.box-error{
    border: var(--errorColor) solid 2px;
}

.box-ok{
    border: green solid 2px;
}

.answer-image-box{
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.answer-image{
    height: 100px;
}