.answers{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    margin-bottom: 30px;
}

.answer{
    margin: auto;
    border: rgb(109, 106, 106) solid 1px;
    border-radius: 7px;
    width: 700px;
    max-width: 90%;
    padding: 15px;
}

.answer-box{
    margin-top: 7px;
    padding: 5px;
    border-radius: 7px;
}

.box-error{
    border: var(--errorColor) solid 2px;
}

.box-ok{
    border: green solid 2px;
}

.answers-images{
    margin-top: 20px;
    margin-bottom: 20px;    
    display: flex;
    column-gap: 10px;
    justify-content: center;
    align-items: center
}

.answer-image{
    width: 20%;
}