.question-images{
    display: flex;
    column-gap: 13px;
    justify-content: center;
}
.question-image-container{
    display: flex;
    flex-direction: column;
    align-items: center;
}
.question-image{
    height: 120px;
}