.pending-exams{
    display: flex;
    flex-direction: column;
    row-gap: 20px;
    align-items: center;
}

.pending-exam{
    width: 600px;
    text-align: center;
    border-radius: 5px;
    padding: 15px 0px;
    background-color: rgb(222, 222, 222);
    display: flex;
    flex-direction: column;
    row-gap: 10px;
    max-width: 90%;
}

.passed-exam{
    color: green;
}

.not-passed-exam{
    color: var(--errorColor);
}

.pending-exam-status{
    color: rgb(187, 187, 4);
}

.pending-course{
    color: gray;
}

@media (max-width:730px){
    .tm{
        font-size: 13px;
    }
}