<%- include('../../partials/head') %>
<%- include('../../partials/header') %>

<div class="fs-19 fw-b mt-25--5 flex-r ai-c jc-c"><%= examName.toUpperCase() %></div>

<div class="question-container">

    <div class="fs-14 lh-1-5 mb-20_10 fw-b" id="question"></div>

    <div class="fs-13 fc-error fw-b not-visible" id="error">Debe seleccionar una opción para continuar</div>

    <div class="question-image-container" id="questionImage"></div>

    <div class="fs-13 flex-c" id="questionOptions"></div>    

</div>

<div class="ta-c mb-30 mt-20-10 fs-13" id="questionNumber"></div>

<div class="flex-r cg-5 jc-sb m-a mb-5 w-400 max-w-90p fw-b fs-17">
    
    <div class="flex-r cg-5 jc-fs ai-c pointer fc-1-hover-5 w-150" id="backBtn">
        <i class="fa-solid fa-backward"></i>
        <div>ATRAS</div>
    </div>

    <div class="flex-r cg-5 ai-c jc-fe pointer fc-1-hover-5 w-150" id="continueBtn">        
        <div id="continueBtnText">CONTINUAR</div>
        <i class="fa-solid fa-forward"></i>
    </div>
    
</div>

<!-- loader -->
<div class="loader ld-std" id="loader">
    <div class="ld-content lt-m"></div>
</div>

<!----------SCRIPTS---------->
<script type="module" src="/js/exams/theoricals/theorical.js?v=<%= Date.now() %>"></script>

