<%- include('../partials/head') %>
<%- include('../partials/header') %>

<div class="confirmation-div">
    <div class="confirmation-check">
        <i class="fa-regular fa-circle-check"></i>
        <div>Datos registrados con éxito</div>
    </div>
    <div class="confirmation-text">Se le enviará un email con los datos de su inscripción</div>
    
</div>

