<%- include('../partials/head') %>
<%- include('../partials/header') %>

<div class="main-title">OBTENCIÓN MERCANCÍAS PELIGROSAS</div>

<div class="fs-17 fw-b ta-c">DECLARACIÓN JURADA</div>

<div class="general-error m-a mt-25" id="error">
    <i class="fa-solid fa-triangle-exclamation"></i>
    Para inscribirse a la Habilitación de Mercancías Peligrosas debe poseer alguna de las licencias mencionadas abajo
</div>

<form action="/inscripciones/mercancias-peligrosas/declaracion-jurada" method="POST">

    <div class="sd-declarations">
        <div class="sd-declaration max-w-85p" id="divCde">
            <input type="checkbox" class="sd-ckeck" name="check_cde" id="checkCde">
            <label for="check_cde" class="sd-text">Declaro poseer algún tipo de <b><i>LICENCIA PROFESIONAL</i></b> (Tipo C, D y/o E).</label>
        </div>

        <div class="sd-declaration max-w-85p" id="divB">
            <input type="checkbox" class="sd-ckeck" name="check_b" id="checkB">
            <label for="check_b" class="sd-text">Declaro poseer <b><i>LICENCIA NACIONAL DE CONDUCIR</i></b> (Tipo B) vigente con antigüedad mayor a un año.</label>
        </div>
    </div>

    <div class="mt-20"><%- include('../partials/contactPopup') %></div>

    <div class="buttons-column mt-30 mb-25">
        <button type="submit" id="continueButton" class="btn-std w-400 max-w-90p pad-11-0">
            CONTINUAR
        </button>

        <button type="button" id="backButton" class="btn-std w-400 max-w-90p pad-11-0" onclick="history.back()">
            ATRÁS
        </button>
    </div>
    
</form>

<!-- loader -->
<div class="loader ld-std" id="loader">
    <div class="ld-content lt-m"></div>
</div>

<!----------SCRIPTS---------->
<script type="module" src="/js/inscriptions/hmSwornDeclaration.js?v=<%= Date.now() %>"></script>

    













