<%- include('../partials/head') %>
<%- include('../partials/header') %>

<div class="flex-r cg-10 ai-c jc-c mt-100 fs-19 fw-b max-w-90p m-a ta-c">
    <i class="fa-solid fa-triangle-exclamation"></i>
    <div>EL CURSO AL QUE SE QUIERE INSCRIBIR NO ESTÁ DISPONIBLE</div>
</div>

<div class="mt-50"><%- include('../partials/contactPopupSP') %></div>