<%- include('../partials/head') %>
<%- include('../partials/header') %>

<div class="main-title">LICENCIA PROFESIONAL DE CONDUCIR</div>

<div class="subtitle">Seleccione una o varias opciones para comenzar</div>

<div class="general-error m-a mt-15" id="error">
    <i class="fa-solid fa-triangle-exclamation"></i>
    Debe seleccionar al menos una categoría
</div>

<div class="mt-20"><%- include('../partials/contactPopup') %></div>

<form action="/inscripciones/licencias-profesionales/tipos" method="POST">

    <div class="pl-insc-type">
        <div class="insc-type-title" id="getTitle">
            OBTENER LICENCIA PROFESIONAL
        </div>
        <div class="insc-type-description" id="info_O">
            <div class="pl-insc-type-check">
                <input type="checkbox" class="checkbox" name="O" id="check_O">
            </div>
            <div class="insc-type-info">
                <div>
                    <i>Si usted posee licencia nacional de conducir clase <b class="insc-highlight">B1, con antigüedad mínima de 1 año</b> y desea acceder por primera vez a una licencia profesional, seleccione esta opción.</i>
                </div>
            </div>
        </div>
        <div class="insc-type-description" id="info_A">
            <div class="pl-insc-type-check">
                <input type="checkbox" name="A" class="checkbox"  id="check_A">
            </div>
            <div class="insc-type-info">
                <div>
                    <i>Si usted posee licencia nacional de conducir <b class="insc-highlight">profesional</b> (clases C, D o E en cualquiera de sus subclases) y desea ampliar la licencia para otra clase o subclase, seleccione esta opción.</i>
                </div>
            </div>
        </div>
    </div>

    <div class="pl-insc-type">
        <div class="insc-type-title">
            RENOVAR LICENCIA PROFESIONAL
        </div>
        <div class="insc-type-content">
            <div class="insc-type-description" id="info_R">
                <div class="pl-insc-type-check">
                    <input type="checkbox" name="R" class="checkbox" id="check_R">
                </div>
                <div class="insc-type-info">
                    <div>
                        <i>Si usted posee una licencia nacional de conducir <b class="insc-highlight">profesional</b> próxima a vencer y desea renovarla, seleccione esta opción.</i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="buttons-column mt-25">
        <button type="submit" class="btn-std w-670 max-w-90p pad-11-0" id="typeButton">
            CONTINUAR
        </button>
        <button type="button" id="backButton" class="btn-std w-670 max-w-90p pad-11-0" onclick="location.href='/inscripciones'">
            IR AL MENÚ INICIAL
        </button>
    </div>

</form>

<!----------SCRIPTS---------->
<script type="module" src="/js/inscriptions/plTypes.js?v=<%= Date.now() %>"></script>

<!-- loader -->
<div class="loader ld-std" id="loader">
    <div class="ld-content lt-m"></div>
</div>










