<%- include('../partials/head') %>
<%- include('../partials/header') %>

<div class="main-title">LICENCIA PROFESIONAL</div>

<div class="subtitle">Seleccione una o varias opciones para comenzar</div>

<div class="general-error mt-15" id="error">
    <i class="fa-solid fa-triangle-exclamation"></i>
    Debe seleccionar al menos una categoría
</div>

<form action="/professional-licences/set-type" method="POST">

    <div class="insc-type">
        <div class="insc-type-title" id="getTitle">
            OBTENER LICENCIA PROFESIONAL
        </div>
        <div class="insc-type-description" id="info_2">
            <div class="insc-type-check">
                <input type="checkbox" class="checkbox" name="2" id="check_2">
            </div>
            <div class="insc-type-info">
                <div>
                    <i>Si usted posee licencia nacional de conducir clase B1, con antigüedad mínima de 1 año y desea acceder por primera vez a una licencia profesional, seleccione esta opción.</i>
                </div>
            </div>
        </div>
        <div class="insc-type-description" id="info_1">
            <div class="insc-type-check">
                <input type="checkbox" name="1" class="checkbox"  id="check_1">
            </div>
            <div class="insc-type-info">
                <div>
                    <i>Si usted posee licencia nacional de conducir profesional (clases C, D o E en cualquiera de sus subclases) y desea obtener la licencia para otra clase o subclase, seleccione esta opción.</i>
                </div>
            </div>
        </div>
    </div>

    <div class="insc-type">
        <div class="insc-type-title">
            RENOVAR LICENCIA PROFESIONAL
        </div>
        <div class="insc-type-content">
            <div class="insc-type-description" id="info_3">
                <div class="insc-type-check">
                    <input type="checkbox" name="3" class="checkbox" id="check_3">
                </div>
                <div class="insc-type-info">
                    <div>
                        <i>Si usted posee una licencia nacional de conducir profesional próxima a vencer y desea renovarla, seleccione esta opción.</i>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="buttons-row mt-25">
        <button type="submit" class="btn-std w-670 max-w-90p pad-11-0" id="typeButton">
            CONTINUAR
        </button>
    </div>

</form>

<!----------SCRIPTS---------->
<script type="module" src="/js/professionalLicences/types.js?v=<%= Date.now() %>"></script>

<!-- loader -->
<div class="loader ld-std" id="loader">
    <div class="ld-content lt-m"></div>
</div>










