/* div buttons */
.buttons-row{
    display: flex;
    justify-content: center;
    column-gap: 10px;
}

.buttons-column{
    display: flex;
    flex-direction: column;
    row-gap: 10px;
}

/* buttons */
.btn-std{
    background-color: var(--color1);
    border: none;
    border-radius: 6px;
    cursor: pointer;
    color: white;
    text-align: center;
}

.btn-unabled{
    background-color: gray;
    border: none;
    border-radius: 6px;
    color: white;
    font-size: 14px;
    text-align: center;
}

.btn-s{
    font-size: 13px;
}

.btn-std:hover{
    background-color:var(--color5);
}

@media (max-width:730px){
    .btn-std{
        font-size: 13px;
    }
}

