.h-20{
    height: 20px;
}
.h-25{
    height: 25px;
}
.h-30{
    height: 30px;
}

.h-35{
    height: 35px;
}

.h-40{
    height: 40px;
}

.h-45{
    height: 45px;
}

.h-50{
    height: 50px;
}

/* height vw */
.h-5vh{
    height: 5vh;
}
.h-8vh{
    height: 8vh;
}
.h-10vh{
    height: 10vh;
}
.h-20vh{
    height: 20vh;
}
.h-25vh{
    height: 25vh;
}
.h-30vh{
    height: 30vh;
}
.h-50vh{
    height: 50vh;
}
.h-55vh{
    height: 55vh;
}
.h-60vh{
    height: 60vh;
}

.h-85vh{
    height: 85vh;
}
.h-90vh{
    height: 90vh;
}
.h-95vh{
    height: 95vh;
}

/* max height */
.max-h-50{
    max-height:550px
}