/* margin auto */
.m-a{
    margin: auto;
}

/* margin top */
.mt-15-{
    margin-top: -15px;
}
.mt-10-{
    margin-top: -10px;
}
.mt-7-{
    margin-top: -7px;
}
.mt-6-{
    margin-top: -6px;
}
.mt-5-{
    margin-top: -5px;
}
.mt-4-{
    margin-top: -4px;
}
.mt-3-{
    margin-top: -3px;
}
.mt-2-{
    margin-top: -2px;
}
.mt-1-{
    margin-top: -1px;
}
.mt-0{
    margin-top: 0px;
}
.mt-3{
    margin-top: 0px;
}
.mt-5{
    margin-top:5px
}
.mt-7{
    margin-top:7px
}
.mt-8{
    margin-top:8px
}
.mt-10{
    margin-top:10px
}
.mt-10_0{
    margin-top:10px
}
.mt-15{
    margin-top:15px
}
.mt-15_10-{
    margin-top:15px
}
.mt-15_0{
    margin-top:15px
}
.mt-17{
    margin-top:17px
}
.mt-19{
    margin-top:19px
}
.mt-20{
    margin-top:20px
}
.mt-20_5-{
    margin-top:20px
}
.mt-20_0{
    margin-top:20px
}
.mt-20-10{
    margin-top:20px
}
.mt-20_15{
    margin-top:20px
}
.mt-25{
    margin-top:25px
}
.mt-25_0{
    margin-top:25px
}
.mt-25--5{
    margin-top:25px
}
.mt-30{
    margin-top:30px
}
.mt-30_0{
    margin-top:30px
}
.mt-30_15{
    margin-top:30px
}
.mt-35{
    margin-top:35px
}
.mt-40{
    margin-top:40px
}
.mt-45{
    margin-top:45px
}
.mt-50{
    margin-top:50px
}
.mt-55{
    margin-top:55px
}
.mt-60{
    margin-top:60px
}
.mt-65{
    margin-top:65px
}
.mt-70{
    margin-top:70px
}
.mt-75{
    margin-top:75px
}
.mt-80{
    margin-top:80px
}
.mt-90{
    margin-top:90px
}
.mt-100{
    margin-top:100px
}
.mt-100_50{
    margin-top:100px
}
.mt-110{
    margin-top:110px
}
.mt-120{
    margin-top:120px
}
.mt-130{
    margin-top:130px
}
.mt-150{
    margin-top:150px
}

.mt-160{
    margin-top:160px
}

/* margin bottom */
.mb-15-{
    margin-bottom: -15px;
}
.mb-0{
    margin-bottom:0px
}
.mb-5{
    margin-bottom:5px
}
.mb-7{
    margin-bottom:7px
}
.mb-9{
    margin-bottom:9px
}
.mb-10{
    margin-bottom:10px
}
.mb-13{
    margin-bottom:13px
}
.mb-15{
    margin-bottom:15px
}
.mb-18{
    margin-bottom:18px
}
.mb-20{
    margin-bottom:20px
}
.mb-20_5-{
    margin-bottom:20px
}
.mb-20_10{
    margin-bottom:20px
}
.mb-25{
    margin-bottom:25px
}
.mb-30{
    margin-bottom:30px
}
.mb-35{
    margin-bottom:35px
}
.mb-40{
    margin-bottom:40px
}
.mb-45{
    margin-bottom:45px
}
.mb-50{
    margin-bottom:50px
}
.mb-55{
    margin-bottom:55px
}
.mb-60{
    margin-bottom:60px
}
.mb-65{
    margin-bottom:65px
}
.mb-70{
    margin-bottom:70px
}
.mb-75{
    margin-bottom:75px
}

/* margin left */
.ml-5{
    margin-left: 5px;
}
.ml-10{
    margin-left: 10px;
}
.ml-15{
    margin-left: 15px;
}

@media (max-width:730px){
    .mt-7{
        margin-top: 6px;
    }
    .mt-25{
        margin-top: 15px;
    }
    .mt-30_0{
        margin-top: 0px;
    }
    .mt-35{
        margin-top: 25px;
    }
    .mt-10_0{
        margin-top:0px
    }
    .mt-20-10{
        margin-top: 10px;
    }
    .mt-10_0{
        margin-top:10px
    }
    .mt-15_10-{
        margin-top:-10px
    }
    .mt-20_15{
        margin-top: 15px;
    }
    .mt-20_5-{
        margin-top: -5px;
    }
    .mt-25--5{
        margin-top: -5px;
    }
    .mt-25_0{
        margin-top: 0px;
    }
    .mt-30_0{
        margin-top: 0px;
    }
    .mt-100_50{
        margin-top: 50px;
    }
    .mt-150-50{
        margin-top: 50px;
    }
}
