/* popup */
.popup{
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
}

.pp-std{ /*popup standard*/
    background-color: rgba(0,0,0,0.6);
}

/* popup content */
.pp-content{    
    padding: 7px 7px;   
    background-color: white;
    position: relative;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.7);
    font-size: 14px;
    overflow: auto;
    margin: auto;
}

/* div popup close */
.pp-img-and-close{
    width: 100%;
    color: var(--color1);
    cursor: pointer;
    display: flex;
    justify-content: space-between;
}
.pp-close{
    width: 100%;
    color: var(--color1);
    cursor: pointer;
    display: flex;
    justify-content: flex-end;
}

/* div popup close icon*/
.pp-close-icon{
    display: flex;
    justify-content: center;
    background-color: var(--color1);
    color: white;
}

.pp-close-icon:hover{
    background-color:var(--color5);
}

