/*--- text sizes ---*/
.ts{
    font-size: 13px;
}
.tm{
    font-size: 14px;
}
.tl{
    font-size: 15px;
}
.txl{
    font-size: 16px;
}
.txxl{
    font-size: 17px;
}
.txxxl{
    font-size: 18px;
}
.txxxxl{
    font-size: 19px;
}


/*--- font sizes ---*/
.fs-13{
    font-size: 13px;
}

.fs-14{
    font-size: 14px;
}

.fs-15{
    font-size: 15px;
}

.fs-16{
    font-size: 16px;
}

.fs-17{
    font-size: 17px;
}

.fs-19{
    font-size: 19px;
}

.fs-20{
    font-size: 20px;
}

.fs-22{
    font-size: 22px;
}

.fs-25{
    font-size: 25px;
}
.fs-25_20{
    font-size: 25px;
}
.fs-30{
    font-size: 30px;
}
.fs-35{
    font-size: 35px;
}
.fs-40{
    font-size: 40px;
}

/*--- font color ---*/
.fc-blue{
    color: blue;
}
.fc-error{
    color: var(--errorColor);
}
.fc-green{
    color: green;
}
.fc-gray{
    color: gray;
}
.fc-1{
    color: var(--color1);
}
.fc-1-hover-5{
    color: var(--color1);
}

.fc-1-hover-5:hover{
    color: var(--color5);
}

/*--- font weight ---*/
.fw-b{
    font-weight: bold;
}

/*--- text align ---*/
.ta-c{
    text-align: center;
}

/*--- underline ---*/
.txt-u{
    text-decoration: underline;
}

/*--- line height ---*/
.lh-1-5{
    line-height: 1.5;
}
.lh-1-8{
    line-height: 1.8;
}

@media (max-width:730px){
    .tm{
        font-size: 13px;
    }
    .fs-13{
        font-size: 12px;
    }
    .fs-14{
        font-size: 13px;
    }
    .fs-15{
        font-size: 14px;
    }
    .fs-16{
        font-size: 14px;
    }
    .fs-17{
        font-size: 15px;
    }
    .fs-19{
        font-size: 16px;
    }
    .fs-20{
        font-size: 18px;
    }
    .fs-25_20{
        font-size: 20px;
    }
}