<!--- alert repre popup (arpp) --->
<div class="popup pp-std" id="arpp">

    <div class="pp-content w-500 top-120" id="arppContent">

        <div class="ta-c mt-25 fc-1"><i class="fa-solid fa-triangle-exclamation fs-30"></i></div>

        <div class="w-80p m-a mt-20 ta-c lh-1-5 fs-15">No hay resultados pendientes para subir a REPRE</div>

        <div class="flex-r cg-20 jc-c mb-13 mt-30">
            <div id="arppClose" class="btn-std w-120 pad-6-0 fs-13">ACEPTAR</div>
        </div>

    </div>
</div>