.sch-price{
    border: var(--color1) solid 2px;
    padding: 8px 15px;
    border-radius: 5px;
    width: fit-content;
    margin: auto;
    margin-top: 10px;
}

.sch-days{
    display: flex;
    flex-direction: column;
    row-gap: 5px;
    width: fit-content;
    margin: auto;
    margin-bottom: 10px;
    padding: 5px;
    align-items: flex-start;
}