<%- include('./partials/head') %>
<%- include('./partials/header') %>

<div class="fs-19 fw-b mt-35 mb-70 ta-c">SELECCIONE UNA OPCIÓN</div>

<div class="flex-c rg-20 ai-c jc-c">

    <div class="btn-std fs-15 w-350 pad-12-0" id="">ADMINISTRACIÓN</div>
    <div class="btn-std fs-15 w-350 pad-12-0" id="">INSCRIPCIONES</div>
    <a href="/examenes/examen-practico"><div class="btn-std fs-15 w-350 pad-12-0" id="">HACER EXAMEN PRÁCTICO</div></a>
        
    
</div>