<%- include('./partials/head') %>
<%- include('./partials/header') %>

<form action="/main/attendance" method="POST">
    <div class="buttons-column mt-25 mb-25">
        <button type="submit" class="btn-std w-670 max-w-90p pad-11-0">
            ASISTENCIA
        </button>
    </div>
</form>