<%- include('./partials/head') %>
<%- include('./partials/header') %>

<div class="fs-19 fw-b mt-35 mb-70 ta-c">SELECCIONE UNA OPCIÓN</div>

<div class="flex-c rg-20 ai-c jc-c max-w-85p m-a">
    <a href="/administracion/menu" class="w-100p" style="max-width:450px"><div class="btn-std fs-15 pad-12-0 ta-c">ADMINISTRACIÓN</div></a>
    <a href="/administracion/cursos-sincronicos" class="w-100p" style="max-width:450px"><div class="btn-std fs-15 pad-12-0 ta-c">CURSOS SINCRÓNICOS</div></a>
    <a href="/examenes/practicos" class="w-100p" style="max-width:450px"><div class="btn-std fs-15 pad-12-0 ta-c">EXAMEN PRÁCTICO</div></a>
</div>