.pd-alert{
    color:var(--errorColor);
    display: flex;
    column-gap: 5px;
    font-size: 15px;
    justify-content: center;
    align-items: center;
    font-weight: bold;
    width: 90%;
    margin: auto;
    margin-top: 30px;
}

@media (max-width:730px){
    .pd-alert{
        font-size: 14px;
        text-align: center;
    }
    #ecppCuit{
        width: 200px;
    }
    .pd-data{
        font-size: 13px;
    }
    #personalDataError{
        margin-top: 10px;
        margin-bottom: 5px;
    }
}