<!----------Confirm popup---------->
<div class="popup pp-std" id="copp">
    
    <div class="pp-content w-400 top-200" id="coppContent">

        <div class="pp-close" id="coppClose">
            <div class="pp-close-icon w-20 h-20">x</div>
        </div>

        <div class="ta-c mt-20 mb-30 fs-15 lh-1-8 w-90p m-a" id="coppText"></div>       
        
        <div class="buttons-row mb-10">
            <div id="coppAccept" class="btn-std w-90 pad-5-0 fs-13">Aceptar</div>
            <div id="coppCancel" class="btn-std w-90 pad-5-0 fs-13">Cancelar</div>
        </div>
    </div>
</div>