<div class="fc-blue txt-u ta-c pointer ts w-fc m-a" id="viewContact">¿Necesitas ayuda?</div>

<div class="popup pp-std" id="conpp">
    
    <div class="pp-content top-180 w-350 max-w-85p" id="conppContent">

        <div class="pp-img-and-close">
            <img src="/images/favicon3.jpg" alt="FEVB" class="h-35">
            <div class="pp-close-icon w-20 h-20" id="conppClose">x</div>
        </div>
        
        <div class="ta-c fw-b mt-10- mb-20 tm">COMUNICATE CON  NOSOTROS</div>
        
        <div class="flex-r cg-10 ai-c jc-c mb-15 tm">
            <i class="fa-brands fa-whatsapp"></i>
            <div>+54 9 299 6200190</div>
        </div>
        <div class="flex-r cg-10 ai-c jc-c mb-20 tm">
            <i class="fa-solid fa-location-dot"></i>
            <div>Colón 388, Neuquén Capital.<br>Instituto FAENA, Piso 3.</div>
            
        </div>

    </div>
</div>

<!----------SCRIPTS---------->
<script type="module" src="/js/inscriptions/contact.js?v=<%= Date.now() %>"></script>