<div class="header">
    <div class="top-header">
        <div class="top-header-element">
            <img src="/images/companyLogo.jpg" alt="FEVB" class="company-logo">
        </div>
        <div class="top-header-element top-header-right">
            <div class="user-logged">
                <% if (locals.userLogged) { %>
                    <i class="fa-solid fa-user user-logged-icon"></i>
                    <div class="user-logged-name">
                        <%= userLogged.first_name + ' ' + userLogged.last_name %>
                        <a href="/logout"><i class="fa-solid fa-arrow-right-from-bracket logout-icon"></i></a>
                    </div>
                <% } %>
                <% if (locals.studentLogged) { %>
                    <div class="user-logged-under-header">
                        <div class="under-header-name"><%= studentLogged.studentData.name.toUpperCase() %></div>
                        <a href="/cuestionarios/logout"><i class="fa-solid fa-arrow-right-from-bracket under-header-icon"></i></a>
                    </div>
                <% } %>
            </div>
        </div>
    </div>

    <div class="bottom-header <%= locals.bottomHeaderMenu ? 'bottom-header-border' : '' %>">
    </div>
</div>  





