<%- include('../partials/head') %>
<%- include('../partials/header') %>

<div class="fs-19 fw-b mt-35 mb-70 ta-c">SELECCIONE UNA OPCIÓN</div>

<div class="flex-c rg-20 ai-c jc-c">

    <a href=""><div class="btn-std fs-15 w-450 pad-12-0 max-w-90p m-a" id="">CURSOS SINCRÓNICOS</div></a>
    <a href="/administracion/asincronicos/alumnos"><div class="btn-std fs-15 w-450 pad-12-0 max-w-90p m-a" id="">CURSOS ASINCRÓNICOS</div></a>
    
</div>