<!--- complete examp popup (CEPP) -->
<div class="popup pp-std" id="cepp">

    <div class="pp-content mt-50 top-10 w-1000 h-95vh" id="ceppContent">

        <!--- close popup --->
        <div class="pp-close" id="ceppClose">
            <div class="pp-close-icon w-25 h-25 fs-20">x</div>
        </div>

        <!--- title --->
        <div class="fs-19 fw-b mt-10 ta-c">EXAMEN PRÁCTICO</div>
        <div class="fs-17 fw-b mt-10 ta-c" id="ceppSubtitle"></div>
        <div class="fs-14 mt-10 ta-c fc-1" id="ceppName"></div>
        <div class="fs-14 mt-10 ta-c fc-1" id="ceppCuit"></div>

        <!--- error --->
        <div class="fs-15 fw-b fc-error mt-15 mb-15 flex-r cg-3 jc-c ai-c not-visible" id="ceppError">
            <i class="fa-solid fa-triangle-exclamation"></i>
            Debe completar todos los campos
        </div>

        <!--- sworn declaration --->    
        <div class="stage-container" id="ceppStageSwornDeclaration">
            <div class="practical-question-text">
                Declaro bajo juramento que los datos consignados en este formulario son correctos y completos, siendo fiel expresión de la verdad y que las respuestas al cuestionario han sido realizadas por mí sin intervención de terceros.
            </div>

            <div class="mt-15 practical-question-text">
                Declaro que el alumno ha sido debidamente informado sobre la filmación y grabado de la conversación e indicaciones entre conductor e instructor durante la práctica de conducción
            </div>

            <div class="flex-r cg-3 ai-c mt-15 mb-7 pointer">
                <input type="checkbox" class="pointer" id="ceppSdAccept" name="swornDeclaration">
                <label for="ceppSdAccept" class="pointer">Acepto</label>
            </div>

        </div>

        <!--- teachers --->    
        <div class="stage-container" id="ceppStageTeachers">
            
            <div class="practical-question-text fw-b mb-15">Nombre del instructor</div>

            <% teachers.forEach(teacher => { %>
                <div class="flex-r cg-3 ai-c mt-7 pointer">
                    <input type="radio" class="pointer" value="<%= 'teacher_' + teacher.id %>" id="<%= 'teacher_' + teacher.id %>" name="teacher">
                    <label for="<%= 'teacher_' + teacher.id %>" class="pointer"><%= teacher.name %></label>
                </div>
            <% }) %>

        </div>

        <!--- questions --->
        <div id="ceppQuestions"></div>

        <!--- results --->
        <div class="stage-container" id="ceppStageResults">
            <div class="practical-question-text fw-b mb-15">Resultado de la práctica</div>
            <div id="ceppResults"></div>

            <div class="mt-25 mb-5 fw-b">Observaciones finales</div>
            <div class="fs-13 mb-5">Indique aquí cualquier comentario que considere pertinente. En caso de que el alumno desapruebe la práctica debe aclarar aquí los motivos.</div>
            <input type=text class="practical-input-obs" id="ceppObsResults">
        </div>

        <!--- button --->
        <div class="btn-std w-300 pad-9-0 m-a mt-30 mb-30" id="ceppSend">ENVIAR RESULTADOS</button>

    </div>

</div>

<!-- loader -->
<div class="loader ld-std" id="ceppLoader">
    <div class="ld-content lt-m"></div>
</div>