<%- include('../../partials/head') %>
<%- include('../../partials/header') %>

<div class="ta-c mt-100_50 fs-40 fc-green"><i class="fa-regular fa-circle-check"></i></div>
<div class="ta-c m-a mt-20 fs-25_20 fc-green max-w-90p">Examen guardado con éxito</div>

<a href="/examenes/examen-practico">
    <div class="btn-std w-250 m-a mt-50 pad-10-0">Realizar otro examen</div>
</a>

<a href="/logout">
    <div class="btn-std w-250 m-a pad-10-0 mt-15">Salir</div>
</a>

